:root {
  --vp-c-brand: #0866FF;
  --vp-c-brand-light: #3B8AFF;
  --vp-c-brand-lighter: #6BA5FF;
  --vp-c-brand-dark: #0652CC;
  --vp-c-brand-darker: #043E99;
}

.dark {
  --vp-c-brand: #6BA5FF;
  --vp-c-brand-light: #3B8AFF;
  --vp-c-brand-lighter: #0866FF;
  --vp-c-brand-dark: #9BC4FF;
  --vp-c-brand-darker: #CBE0FF;
}

.vp-doc a {
  font-weight: 500;
}

.vp-doc code {
  font-size: 0.9em;
}
